extends layout

mixin commitList(repo)
  - commits = commitsByRepo[repo]
  -function formatDate(str) {
  -  var date = new Date(str)
  -  return date.toLocaleDateString('en-US', {month: 'short', day: 'numeric'})
  -}
  -function asterisk2br(str) {
  -  return str.replace(/\*/g, '<br />\*')
  -}
  ul
    each commit in commits
      li
        a(href=commit.htmlUrl) #{commit.sha.slice(0, 6)}
        p.date #{formatDate(commit.date)}
        p.message!= asterisk2br(commit.message)

mixin repoNameAndCommitsNum(repo)
    h4
        a(href='https://github.com/'+repo) #{repo} (#{commitsByRepo[repo].length} PRs)

block main
  section
    h4
      a(href='https://github.com/mirefly/mysite') This website

  section
    +repoNameAndCommitsNum('mozilla/addons-code-manager')
    +commitList('mozilla/addons-code-manager')

  section
    +repoNameAndCommitsNum('mozilla/addons-frontend')
    +commitList('mozilla/addons-frontend')

  section
    +repoNameAndCommitsNum('mozilla/fxa')
    +commitList('mozilla/fxa')

